.layout {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 17%;
  background-color: var(--app-color-900);
  color: var(--app-color-50);
  padding: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  color: var(--app-color-50);
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.link:hover {
  background-color: var(--app-color-800);
}

.link.active {
  background-color: var(--app-color-600);
}

.content {
  margin-left: 17%;
  flex: 1;
  padding: 30px;
  padding-left: 60px;
  background-color: var(--app-color-950);
  min-height: 100vh;
  overflow-y: auto;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: auto;
}

.username {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--app-color-50);
  padding: 8px;
  padding-bottom: 0px;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
  fill: var(--app-color-50);
  flex-shrink: 0;
}

.logout-button {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background-color: var(--app-color-600);
  border: none;
  color: var(--app-color-50);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: var(--app-color-700);
}
