.layout {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 17%;
  background-color: var(--app-color-900);
  color: var(--app-color-50);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  color: var(--app-color-50);
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.link.active {
  background-color: var(--app-color-800);
}

.content {
  flex: 1;
  padding: 30px;
  background-color: var(--app-color-950);
}
