.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--app-color-950);
}

.sub-main-container {
    display: flex;
    align-items: center;
    gap: 10vh;
}

.left-container {
    background-color: var(--app-color-900);
    height: 80vh;
    width: 80vh;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--app-color-50);
    padding: 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.left-container-heading-div {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
}

.right-container {
    background-color: var(--app-color-950);
    height: 80vh;
    width: 60vh;
    border-radius: 3rem;
    color: var(--app-color-50);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem;
}

.right-container-heading-div {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.login-label {
    color: var(--app-color-50);
}

.login-input-field {
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--app-color-900);
    background-color: var(--app-color-950);
    color: var(--app-color-50);
    padding: 0 1rem;
    font-size: 1rem;
    outline: none
}

.login-input-field:focus {
    border: 2px solid var(--app-color-50);
}

.login-button {
    height: 3rem;
    border-radius: 0.5rem;
    background-color: var(--app-color-500);
    color: var(--app-color-50);
    border: none;
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--app-color-600);
}

.divider-line {
    width: 100%;
    border: none;
    border-top: 1px solid var(--app-color-700);
    margin: 2rem 0 1rem 0;
}

.register-button {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: var(--app-color-500);
    color: var(--app-color-50);
    border: none;
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
}