.piechart-wrapper {
  position: relative;
}

.piechart-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

.piechart-value {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 8px;
  color: var(--app-color-50);
}

.piechart-label {
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--app-color-300);
}
