.table-container {
  padding-right: 60px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-header-row {
  background-color: var(--app-color-900);
  border-bottom: 2px solid var(--app-color-800);
}

.table-header-cell {
  text-align: left;
  padding: 16px;
  padding-left: 24px;
  font-weight: bold;
  font-size: 0.8rem;
}

.name-col {
  width: 40%;
}

.table-body-row {
  background-color: var(--app-color-900);
  border-top: 2px solid var(--app-color-800);
}

.table-cell {
  text-align: left;
  padding: 16px;
  padding-left: 24px;
  font-weight: normal;
  font-size: 0.8rem;
}
