.table-container {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background-color: var(--app-color-900);
    overflow: hidden;
    border-radius: 4px;
    margin-right: 30px;
}

.trans-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.trans-tr {
    background-color: var(--app-color-900);
    border-top: 2px solid var(--app-color-800);
}

.trans-td {
    width: 25%;
    text-align: left;
    padding: 16px;
    padding-left: 24px;
}

.cell-header {
    color: var(--app-color-300);
    padding: 0;
    margin: 0 0 4px 0;
}

/* Modal CSS */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: var(--app-color-900);
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.modal-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.submit-btn {
  background-color: var(--app-color-500);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-btn:hover {
    background-color: var(--app-color-700);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}

.add-button {
    background-color: var(--app-color-500);
    color: var(--app-color-50);
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-button:hover {
    background-color: var(--app-color-700);
}