.table-container {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background-color: var(--app-color-900);
    overflow: hidden;
    border-radius: 4px;
    margin-right: 30px;
}

.trans-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.trans-tr {
    background-color: var(--app-color-900);
    border-top: 2px solid var(--app-color-800);
}

.trans-td {
    width: 25%;
    text-align: left;
    padding: 16px;
    padding-left: 24px;
}

.cell-header {
    color: var(--app-color-300);
    padding: 0;
    margin: 0 0 4px 0;
}